*{
    margin: 0;
    padding: 0;
    outline: 0
}
a{
    text-decoration: none
}
ul,ol{
    list-style: none
}
.clr{
    clear: both
}
body{
    font-family: 'Kanit', sans-serif;
}
/* main css start */

.full{
    width:100%
}
.main{
    width:95%;
    margin: auto
}
.full-header{
    background-color: #384b9b;
    padding: 20px 0
}
.logo{
    width:30%;
  float: left
}
.menu{
    width:70%;
    float:left;
    text-align:left
}
.menu ul li{
    display: inline-block
}
.menu ul li a{
    display: block;
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    margin: 0 20px;
    transition: all 0.5s linear;
    padding: 10px;
    border: 1px solid transparent
}
.menu ul li a:hover{
    color: #cfc91d;
    border-color: #cfc91d
}

.full-table{
    background: url(../images/approved-food-pic.jpg) left top no-repeat;
    background-size: cover;
    padding: 40px 0;
    position: relative;
    z-index: 1
}
.full-table:before{
    content: "";
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.47);
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1
}
.form{
    font-weight: 600;
    font-size: 25pt;
    color: #00ceff;
    width: 20%;
     padding-left: 200px;
    text-align: center
}
.form1{
    font-weight: 600;
    font-size: 25pt;
    color: #00ceff;
    width: 80%;
    padding-left: 250px;
    text-align: center
}
.txt{
    font-weight: 400;
    font-size: 25pt;
}
select{
    font-weight: 400;
    font-size: 25pt;
}
input[type=submit]{
 padding: 20px 40px;
    background-color: #1d5bcf;
    border-style: none;
    color: #0b1016;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 5px;
    cursor: pointer;
    border: 1px solid transparent;
    transition: all 0.5s linear;
}

input[type=submit]:hover{
    background-color: transparent;
    color: #1d32cf;
    border-color: #cfc91d;
    padding: 20px 30px;
    border-radius: 10px;
}

#creator{
   font-weight: 400;
    font-size: 18pt;
    color: rgba(255, 255, 255, 0.46)
}

.no-arrow {
  -moz-appearance:textfield;
}

#no-arrow::-webkit-outer-spin-button,
#no-arrow::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
